@import 'place-widget/placeWidget.css';

/* Style the form */
.editor-container {
    background-color: #fffffa;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

/* Style the input fields */
input[type="text"] {
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    border: none;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
    font-weight: bold;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    opacity: 1;
    color: #4CAF50;
}

.col-md-3 {
    width: auto;
}

.previews {
    width: 100%;
}

.previews > img {
    width: 100%;
}

.image-upload {
    position: relative;
    overflow: hidden;
    font-size: 15px;
}

.image-upload input[type="file"] {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 34px;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

#fileNames {
    margin-top: 10px;
}

.btn-success {
    width: 34px !important;
    height: 34px !important;
    padding: 6px 6px 0 8px;
}

.btn-danger {
    width: 34px;
}

.btn-danger span {
    position: relative;
    top: 2px;
    right: 3px;
}

button.close {
    position: relative;
    top: -17px;
}

h1 {
    font-family: Avenir;
    font-size: 21px;
}

h3 {
    font-family: Avenir;
    font-size: 18px;
}

.mySlides,
.btn-info {
    margin-top: 15px;
}

.review-info {
    margin-bottom: 10px;
}