<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/default.html"
    data-template-at="body">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="editor.css" />
    <link rel="stylesheet" href="../main/start.css" />

    <div class="container shadow rounded">

       <div> <h1 class="main-title">Was möchten Sie hochladen?</h1>
           <hr/></div>
        <a href="letter/view.html" class="btn btn-info">Brief hochladen</a>
        <a href="postcard/view.html" class="btn btn-info">Postkarte hochladen</a>
    </div>

</div>

