<div>
    <h1>
        Metadaten
    </h1>
    <div class="card">
        <div class="table-responsive scroll">
            <h3>Erwähnte Personen:</h3>
            <textarea name="persons" class="form-control" rows="10" cols="40"></textarea>

            <h3>Erwähnte Orte:</h3>
            <div class="mentionedPlacesContainer">
                <div id="mentionedPlacesPlaceWidget" class="mentionedPlaces" data-field-name="mentionedPlaces"></div>
            </div>
        </div>
    </div>
</div>