<div>
    <div class="card bg-light mb-3">
        <!--Informationen zum Empfänger eingeben-->
        <label>Empfänger:</label>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#personModal" title="Hier kannst du den Sender neu eintragen.">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

        <div id="receiverPersonWidget"></div>

        <br/>




        <label for="receiverStreet">Empfänger Adresse:</label>
        <input id="receiverStreet" type="text" class="form-control" name="Strasse" placeholder="Strasse" />
        <input id="receiverHousenumber" type="text" class="form-control" name="HouseNumber" placeholder="Hausnummer" />
        <div id="receiverPlaceWidget" data-field-name="receiverPlace"></div>
    </div>
    <div class="card bg-light mb-3">




        <label>Absender:</label>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#personModal" title="Hier kannst du den Sender neu eintragen.">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <br/>

        <div id="senderPersonWidget"></div>



        <label for="senderStreet">Sender Adresse:</label>
        <input id="senderStreet" type="text" class="form-control" name="Strasse" placeholder="Strasse" />
        <input id="senderHouseNumber" type="text" class="form-control" name="HouseNumber" placeholder="Hausnummer" />
        <div id="senderPlaceWidget" data-field-name="senderPlace"></div>
    </div>
    <div class="card bg-light mb-3">
        <label for="fieldPostNumber">Feldpostnummer:</label>
        <input id="fieldPostNumber" type="text" class="form-control" name="fieldPostNumber" placeholder="Feldpostnummer" />
        <label for="stamp">Poststempel:</label>
        <div id="stampPlaceWidget" data-field-name="stamp"></div>
        <input id="shippingDate" type="date" class="form-control" name="Datum" />
    </div>
</div>