<div class="transcriptionTemplate">
    <!-- col -->
    <div class="col-lg-7 col-md-12">
        <h1>Bild</h1>
        <div class="card">
            <img class="imageToTranscript previews" name="image" src="###" />
        </div>
    </div>
    <!-- col -->

    <!-- col -->
    <div class="col-lg-5 col-md-12">
        <h1>Transkription</h1>
        <div class="card">
            <div class="table-responsive scroll">
                <fieldset>
                    <textarea id="transcription" name="Freitext" class="form-control transcriptionText" rows="10" cols="40" placeholder="Tragen Sie in dieses Feld den Text ein, den Sie auf dem Bild sehen. Legen Sie dabei bitte für jede Zeile im Original auch im Textfeld eine eigene Zeile an."></textarea>
                    <a href="https://de.wikipedia.org/wiki/S%C3%BCtterlinschrift" target="_blank" class="btn btn-info">Sütterlin-Hilfe</a>
                </fieldset>

                <h3>Erwähnte Personen:</h3>
                <ul>

                    <label>Absender:</label>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#personModal" title="Hier kannst du den Sender neu eintragen.">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <br/>

                    <div id="mentionedPersons"></div>

                </ul>


                <h3>Erwähnte Orte:</h3>
                <div class="mentionedPlacesContainer">
                    <div id="mentionedPlacesPlaceWidget" class="mentionedPlaces" data-field-name="mentionedPlaces"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- col -->

</div>