h1 {font-size:50px;text-align:center;color:#003333;}
        li {font-size:35px;margin-left:100px;color:#008080;}
        button {font-size:12px;float:right;background-color:white;border:1px solid #ccc;color:#f00;cursor:pointer;margin:5px; }
        input[type=submit] {font-size:12px;background-color:white;border:1px solid #ccc;color:#f00;cursor:pointer;margin:5px; }
        #uploadForm {background-color:#ccc;}
        #myMainNav { width:100%; height:50px;background-color:#003333;}
        .navLink {transition-duration:0.3s;color:#fff;text-decoration:none;font-family:Verdana;font-size:2.2em;padding: 15px;cursor:pointer}
        .navLink:hover {color:#fff;}
        .letterP {margin: 20px;}