/* Startseite - fixed position scroll intro-menu CSS */
/* Code by Gwenlyn Tiedemann*/

/* noch nicht behobener Fehler: hover beim Menü. */

.document-header.inner {
	color: #FFFFFA;
	background: #4c5c3a;
	overflow: hidden;
	position: fixed;
    top: 0;
	bottom: auto;
	left: 0;
	width: 100%;
	z-index: 1010;

}


.full-screen-intro {
	margin-bottom: 50px;
	background-color: #4c5c3a;
	position: relative;
	height: 100vh;
	overflow: hidden;
	color: #FFFFFA;
}

.full-screen-intro .document-header.inner {
	position: static;
}


#banner{
    background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 80vh;
    overflow: hidden;

}


