/*Familienbaum CSS*/
/* Grundlegender Code von https://bl.ocks.org/mbostock/2966094
Abänderungen von Gwenlyn Tiedemann*/

.name {
  font-weight: bold;
  background-color:#deead0;
}

.about {
  fill: #777;
  font-size: smaller;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tree{
    padding-bottom: 80px;
}