/* Allgemeine CSS by Gwenlyn Tiedemann */

body {
    font-family: Arial;
    /*font-family: "adobe-jenson-pro";*/
    /*font-family: "myriad-pro";*/
    /*font-family: "Helvetica Neue";*/

    font-size: 18px;
    line-height: 1.4;
    color: #333;
    background-color: #FFFFFA;
}

.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:25px;
    padding-right:25px;
    font-family: Avenir;
}


a {
    color: #1e3b3b;
    text-decoration: none
}
p::first-letter{
    font-size: 20px;
}


a:hover{
    color: #252d1c;
    text-decoration: none; /* oder underlined machen? */
}

a:onclick{
    text-decoration:none;
}


p{
    text-align: justify;
}

/*Menü*/
.document-header.inner {
    color: #FFFFFA;
    background: #1e3b3b;
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    /*bottom: auto;*/
    left: 0;
    width: 100%;
    z-index: 1010;

}

.document-header a {
    color: inherit;
    text-decoration: none;
}
.document-header a:hover{
    background-color: #1e3b3b;

}

.choice-nav{
    background: #deead0;
}

#date-nav{
    margin-top: 25px;
    margin-bottom: 10px;
}

/**/


.title-box {
    /*background-color: #4c5c3a; Menügrün*/
    background-color: #81966a;
    color: #FFFFFA;
    padding-top: 30px;
    /* text-align: center;*/
    overflow: hidden;
    /*	position: static;*/
    width: 100%;
    height: 140px;
}
.row.list-row:hover{
 background-color: rgba(12, 15, 10, 0.05);
}

.title-letter{
    position:fixed;
    background-color: #81966a;
    /*background-color: #5a7d89;*/
    /*background-color: #495f77;*/
    /*background-color: ;*/
    width: 100%;
    margin-top: 10px;
    z-index: 1010;
    padding-left: 233px;
}


.idno{
    display: block;
    padding-left: 255px;
    width: 100%;
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 10px;
}






.thumbnail {

    width: 200px;

}

.view {
    width: 500px;

}

.pers-img{
    width: 80px;
}

/*ul.nav a { cursor: pointer; }*/

.tab-content {
    display: none;
    margin-top: 30px;
    margin-left: 20px;
}

#mapid {
    margin-top:25px;
    height: 500px;
    width: 100%;
}





#lb {
    color: #A4A4A4;
    margin-left: 10px;
    margin-right: 15px;
    padding-right: 20px;
    line-height: 1.5;
}

p:empty,
div:empty,
li:empty,
lo:empty{
    display: none;
}

.list{
    list-style-type:none;
}

.main-title {
    margin-top: 130px;
    margin-bottom: 50px;
    color: #FFFFFA;

}


#person-banner{
    background-color: #81966a;
    color: #FFFFFA;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    background: #deead0;

}


.title-banner{
    background: #81966a;
    color:#FFFFFA;
}

#img-list{
    margin-top: 25px;
}

.tree{
    margin-top: 25px;
}

.list-row {
    cursor: pointer;
}

/*Tablesorter*/
table.tablesorter {
    width: 100%;
    text-align: left;
    margin-top:25px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #deead0;
    padding: 10px;
}
table.tablesorter thead tr .header {
    background-image: url(../resources/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    padding: 4px;
    vertical-align: top;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../resources/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../resources/images/desc.gif);
}

/*chronologie nav*/
.navbar {
    margin-bottom:-1px;
    border-radius:0;
}


.collapsing {
    display:none;
}


/*Meta Images Table*/
.img-meta-table{
    margin-top: 25px;
    padding-bottom: 25px;

}


/*Text Meta*/
.meta-bold{
    font-weight: bold;
    padding-right: 20px;
}