<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/default.html" data-template-at="body">
    <link type="text/css" media="all" href="lists.css" rel="stylesheet" />
    <script type="text/javascript" src="../resources/js/jquery.tablesorter.js"/>
    <script type="text/javascript" src="tablesort.js"/>

    <div class="container">
        <table id="Table" class="tablesorter">
            <thead>
                <tr>
                    <td></td>
                    <th></th>
                    <th>Title</th>
                    <th>Datum</th>
                    <th>ID</th>
                </tr>
            </thead>
            <get data-template="lists:createTableRowsForLetters" />
        </table>
    </div>
</div>