.choice-nav {
    font-family: Avenir;
}

.tab-content {
    margin-top: 60px;
}

#imageContainer {
    margin-left: -4px;
}

.mainImage{
    max-width: 500px;
}

.numberSpan {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    font-size: 13px;
    color: gainsboro;
    left: 11px;
    margin-top: 4px;
}

.pbSpan{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    font-size: 13px;
    color: gainsboro;
    left: -69px;
    margin-top: 29px;
    margin-left: 10px;
}
#hili {
    border-bottom: 1px dotted #999;
    text-decoration: none;
}

.selectorDiv {
    margin-left:-7px;
    margin-top: 2px;
}

.tool {
    cursor: pointer;
}

.imageSelector {
    margin-left: 3px;
    border: solid 1px green;
    cursor: pointer;
    height: 30px ;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

#itemViewHeading {
    position: relative;
    top: -20px;
    left: 20px;
    font-family: Avenir;
}

.xml-link{
    font-family: Avenir;

}

.xml-link:hover{
    text-decoration: underline;
}
.title-box {
    height: 60px;
}

.timeline-link {
    font-family: Avenir;
}

.timeline-link:hover {
    text-decoration: underline;
}