<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/default.html"
     data-template-at="body">
    <link type="text/css" media="all" href="../lists/lists.css" rel="stylesheet"/>
    <link type="text/css" media="all" href="itemview.css" rel="stylesheet"/>
    <script type="text/javascript" src="format.js"/>
    <div class="wrapper">

        <div class="title-box">
            <div class="position-title">
                <h4 id="itemViewHeading">
                   <get data-template="itemview:title"/>
                </h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <br/>
                <!-- Linke Spalte -->
                <div class="col-md-6">

                    <!-- Tabs links -->
                    <nav class="choice-nav">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav" id="tabsId-l">
                                <li data-tab-content="text" class="active"><a href="#">Text</a></li>
                                <li data-tab-content="images"><a href="#">Bilder</a></li>
                                <li data-tab-content="meta-text"><a href="#">Metadaten</a></li>
                                <li data-tab-content="context"><a href="#">Kontext</a></li>
                            </ul>
                        </div>
                    </nav>

                    <div id="tabsContentId-l">
                        <div data-template="itemview:LetterContent" data-template-side="left"/>
                    </div>
                </div>
                <div class="col-md-6">

                    <!-- Tabs rechts-->
                    <nav class="choice-nav">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav" id="tabsId-r">
                                <li data-tab-content="text"><a href="#">Text</a></li>
                                <li data-tab-content="images" class="active"><a href="#">Bilder</a></li>
                                <li data-tab-content="meta-text"><a href="#">Metadaten</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div id="tabsContentId-r">
                    <div data-template="itemview:LetterContent" data-template-side="right"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>