<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/default.html" data-template-at="body">
    <link type="text/css" media="all" data-template="helpers:app-root" href="impressum/Impressum.css" rel="stylesheet" />

    <div class="container">

    <h2>Impressum:</h2>

    <div id="mitgliederDiv">
        <h3>Projektmitglieder:</h3>
        <span>Jan Bigalke</span><br/>
        <span>Thomas Kleinke</span><br/>
        <span>Viktoriya Lebedynska</span><br/>
        <span>Peter Seipel</span><br/>
        <span>Nadine Zipse</span><br/>
        <br/>
        <span>Sviatoslav Drach (Erste Version)</span><br/>
        <span>Gwenlyn Tiedemann (Erste Version)</span>
    </div>

    <div id="posterDiv">
        <h3>Materialien:</h3>
        Viktoriya Lebedynska reichte zur Oxford Summer School 2018 ein Poster über das Projekt ein, das auf der Veranstaltung ausgezeichnet wurde.
        <div id="downloadPoster">Download: <a data-template="helpers:app-root" href="resources/Poster_DH_Summer_School_2018_Lebedynska.pdf" target="_blank">Poster Oxford Summer School 2018</a></div>
    </div>
    </div>
</div>