/* Allgemeine CSS by Gwenlyn Tiedemann */
/* Korrekturen by Viktoriya Lebedynska */

body {

    font-family: Avenir;
    font-style: normal;
    font-size: 11pt;
    text-align: left;

}


.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:25px;
    padding-right:25px;

}


a {
	color: #4c5c3a;
	text-decoration: none
}




a:hover{
	color: #252d1c;
	text-decoration: none; /* oder underlined machen? */
}



a:onclick{
    text-decoration:none;
}


p{
    text-align: justify;
}




.idno{
    display: block;
    padding-left: 255px;
    width: 100%;
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 10px;
}






.thumbnail {
    width: 200px;
    
}

.view {
    width: 500px;

}

.pers-img{
    width: 90px;
}



p:empty,
div:empty,
li:empty,
lo:empty{
   display: none;
}




.list{
    list-style-type:none;
}




#person-banner{
    font-family: Avenir;
    font-style: normal;
    font-size: 15pt;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
	width: 100%;
    background: #deead0;

}




#img-list{
    margin-top: 25px;
}

.tree{
    margin-top: 25px;
}



/*Tablesorter*/
table.tablesorter {
	background-color: #FFFFFA;
	width: 100%;
	text-align: left;
	margin-top:25px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #deead0;
	border: 1px solid #FFFFFA;
	padding: 10px;
}
table.tablesorter thead tr .header {
	background-image: url(..images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	background-color: #FFFFFA;
	vertical-align: top;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../briefe/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}


/*Meta Images Table*/
.img-meta-table{ 
margin-top: 25px;
padding-bottom: 25px;
    
}


/*Text Meta*/
.meta-bold{
    font-weight: bold;
    padding-right: 20px;
}


h1 {
    font-family: Avenir;
    font-style: initial;
    font-size: 21pt;
}

h3 {
    padding-left: 15px;
}


li {
    font-family: Avenir;
    text-align: left;

}

