<?xml version="1.0" encoding="UTF-8"?>

    <div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround"
         data-template-with="templates/default.html" data-template-at="body">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link type="text/css" media="all" href="person.css" rel="stylesheet"/>


<div class="container">

    <div id="container_personen"></div>
    <script type="text/javascript" src="person.js"></script>




  <!--  <h1>Personen in alphabetischer Reihenfolge</h1>

    <div class="row">
        <div class="col-md-12"><h2>Name der Person</h2></div>
    </div>

    <div class="row">
        <div class="col-md-2"><img class="image-icon" src="http://localhost:8080/exist/apps/TeiData/Images/Dummi.jpg" /></div>
        <div class="col-md-4"> $shared </div>
        <div class="col-md-6">Die zu verknüpfenden Briefe</div>
    </div>-->

</div>

</div>