<div class="person-widget">
    <div class="autocomplete" style="width:300px;"/>
    <input class="personName" type="text" name="person" placeholder="Nachname, Vorname" autocomplete="off"/>
    <input class="personId" type="text" hidden="hidden" name="personId"/>
</div>


