/* Allgemeine CSS by Gwenlyn Tiedemann */

body {

    font-family: Avenir;
    /*font-family: "adobe-jenson-pro";*/
    /*font-family: "myriad-pro";*/
    /*font-family: "Helvetica Neue";*/

    font-size: 18px;
    line-height: 1.4;
    background-color: #FFFFFA;

}

#body {
    min-height: 75vh;
}

.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:25px;
    padding-right:25px;

}


a {
    color: #1e3b3b;
    text-decoration: none
}

p::first-letter{
    font-size: 120%;
}


a:hover{
    color: #1e3b3b;
    text-decoration: none; /* oder underlined machen? */
}

a:onclick{
    text-decoration:none;
}


p{
    text-align: justify;
}

/*Menü*/
.document-header.inner {
    color: #fff;
    background: #1e3b3b;
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    /*bottom: auto;*/
    left: 0;
    width: 100%;
    z-index: 1010;

}

.document-header a {
    color: inherit;
    text-decoration: none;
}
.document-header a:hover{
    background-color: #e7dcc9;

}

.choice-nav{
    background: #deead0;
}

#date-nav{
    margin-top: 25px;
    margin-bottom: 10px;
}

/**/


.title-box{
    /*background-color: #4c5c3a; Menügrün*/
    background-color: #81966a;
    color: #FFFFFA;
    padding-top: 30px;
    /* text-align: center;*/
    overflow: hidden;
    /*	position: static;*/
    width: 100%;
    height: 140px;


}
.title-letter{
    position:fixed;
    background-color: #81966a;
    /*background-color: #5a7d89;*/
    /*background-color: #495f77;*/
    /*background-color: ;*/
    width: 100%;
    margin-top: 10px;
    z-index: 1010;
    padding-left: 233px;
}


.idno{
    display: block;
    padding-left: 255px;
    width: 100%;
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 10px;
}






.footer {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;


}



.footer-img {
    width:200px;
    padding-bottom: 20px;
}


.thumbnail {

    width: 200px;

}

.view {
    width: 500px;

}

.pers-img{
    width: 80px;
}

/*ul.nav a { cursor: pointer; }*/

.tab-content {
    display: none;
    margin-top: 30px;
    margin-left: 20px;
}

#mapid {
    margin-top:25px;
    height: 500px;
    width: 100%;
}





#lb {
    color: #A4A4A4;
    margin-left: 10px;
    margin-right: 15px;
    padding-right: 20px;
    line-height: 1.5;
}

p:empty,
div:empty,
li:empty,
lo:empty{
    display: none;
}

.list{
    list-style-type:none;
}

.main-title {

    font-family: Avenir;
    font-size: 21pt;
}


#person-banner{
    background-color: #81966a;
    color: #FFFFFA;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    background: #deead0;

}


.title-banner{
    color: #000000;
}

#img-list{
    margin-top: 25px;
}

.tree{
    margin-top: 25px;
}




/*chronologie nav*/
.navbar {
    margin-bottom:-1px;
    border-radius:0;
}


.collapsing {
    display:none;
}


/*Meta Images Table*/
.img-meta-table{
    margin-top: 25px;
    padding-bottom: 25px;

}


/*Text Meta*/
.meta-bold{
    font-weight: bold;
    padding-right: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

