<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/default.html" data-template-at="body">
    <link type="text/css" media="all" href="start.css" rel="stylesheet" />


    <div class="container">
        <div class="Welcome"><h2>Willkommen auf der Webpräsenz des Projektes "Feldpost im zweiten Weltkrieg".</h2>
            Ziel des Projekts ist es, eine Anwendung zu entwickeln, die es jedem ermöglicht, digitale Kopien von Briefen und Postkarten aus dem Zweiten Weltkrieg online zu stellen, den Text zu transkribieren und zusätzliche Informationen über Absender, Empfänger und Orte einzutragen.
            In der Zukunft kann auf dieser Grundlage ein ständig wachsendes, offenes Online-Archiv erschaffen werden, das der Gesellschaft den Zugang zu einem Netzwerk von Korrespondenz über das tägliche Leben von Soldaten und Zivilisten in Deutschland, Europa und der Welt im Krieg bieten wird.
        </div>


        <div  class=""><h2 id="sammlung">Sammlung</h2> <hr/></div>

        <div class="row">
            <div class="col-md-3">
                <a data-template="helpers:app-root" href="lists/view.html?modus=Briefe"><img class="thumbnail" src="../images/lettersPreview.jpg"/></a>
            </div>

            <div class="col-md-9">
                <h3 class="term-name"><a data-template="helpers:app-root" href="lists/view.html?modus=Briefe">Briefe</a></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <a data-template="helpers:app-root" href="lists/view.html?modus=Postkarten"><img class="thumbnail" src="../images/postcardsPreview.jpg"/> </a>
            </div>

            <div class="col-md-9">
                <h3 class="term-name"><a data-template="helpers:app-root" href="lists/view.html?modus=Postkarten">Postkarten</a></h3>
            </div>
        </div>

    </div>
</div>