<div id="summaryPreview">
    <script type="text/javascript" src="../imageSlider.js"></script>
    <style>
        .mySlides {
            display: none;
        }
    </style>
    <button type="button" class="btn btn-default" onclick="plusDivs(-1)">zurück</button>
    <span id="pageNumber"></span>
    <button type="button" class="btn btn-default" onclick="plusDivs(1)">vor</button>
</div>