/* Startseite - fixed position scroll intro-menu CSS */
/* Code by Gwenlyn Tiedemann*/
/* edited by Jan Bigalke */

/* noch nicht behobener Fehler: hover beim Menü. */

.document-header.inner {
    /*color: #FFFFFA;*/
    background: #1e3b3b;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    z-index: 1010;

}


li{
    background-image: none !important;
    text-align: center;
}

.menuItem{
    font-family: Avenir;
    color: #fcfdf8 !important;
    font-size: 18px !important;
}


.full-screen-intro {

    background-color: #1e3b3b;
    position: relative;
    height: 50vh;
    overflow: hidden;
    color: #FFFFFA;
}

.full-screen-intro .document-header.inner {
   /*position: static;*/
}


#banner{
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;

}



.intro-image {

}




.img {
    width: 100%;
    height: auto;
}

.logo {
    background-color: #1e3b3b;
    font-family: Avenir;
    color: #e7dcc9;
    margin-bottom: 50px;

    font-size: 21pt;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 28px;
    padding-bottom: 5px;
}





.full-screen-intro-default {
    background-color: #1e3b3b;
    position: relative;
    height: 7vh;
    overflow: hidden;
    color: #FFFFFA;
}