<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml"  data-template="templates:surround" data-template-with="templates/default.html"
    data-template-at="body">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../uploadFile.js"></script>
    <script type="text/javascript" src="../place-widget/placeWidget.js"></script>
    <script type="text/javascript" data-template="helpers:app-root" src="/editor/person-widget/personWidget.js"></script>
    <script type="text/javascript" src="../editor.js"></script>
    <link rel="stylesheet" href="../editor.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Place widget modal -->
    <div class="modal fade" id="placeModal" tabindex="-1 " role="dialog" aria-labelledby="placeModalLabel" aria-hidden="true"></div>

    <!-- Person widget modal -->
    <div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
    </div>


    <div id="postcardContainer" class="container shadow rounded editor-container">
        <form id="regForm" action="javascript:submit()">
            <div id="stepsBar" class="row">
                <div class="col-md-3">
                    <div class="step">Genrelle Infos</div>
                </div>
                <div id="uploadLettersCol" class="col-md-3">
                    <div class="step">Postkarte hochladen</div>
                </div>
                <div class="col-md-3">
                    <div class="step">Review der Metadaten</div>
                </div>
            </div>
            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar" style="width: 10%;" aria-valuenow="10"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- Circles which indicates the steps of the form: -->


            <!-- One"tab" for each step in the form: -->
            <div class="tab row">
                <div class="col-lg-7 col-md-12">
                    <h1 class="card-title">File-Upload Umschlag</h1>
                    <div class="card bg-light mb-3">
                        <div class="table-responsive">
                            <div>
                                <p>Hier (falls vorhanden) die Datei zur Umschlagsvorderseite hochladen.</p>
                                <div class="image-upload btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <input type="file" id="envelopeFrontUpload" name="files[]" onchange="showPreviewEnvelope('envelopeFront')" />
                                </div>
                                <button type="button" class="btn btn-danger" onclick="resetEnvelopeImageFiles('envelopeFrontView')">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                <img style="width: 100%" id="envelopeFrontView" />

                                <p>Hier (falls vorhanden) die Datei zur Umschlagsrückseite hochladen.</p>
                                <div class="image-upload btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <input type="file" id="envelopeBackUpload" name="files[]" onchange="showPreviewEnvelope('envelopeBack')" />
                                </div>
                                <button type="button" class="btn btn-danger" onclick="resetEnvelopeImageFiles('envelopeBackView')">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                <img style="width: 100%" id="envelopeBackView" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <h1>Transkription</h1>
                    <div class="table-responsive scroll">
                        <div class="form-group">
                            <div class="form-group" id="postalInfos">
                            </div>



                            <!-- Modal Adresse: TBD-->
                            <!--
                                <div class="modal fade " id="Adresse " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel
                                        " aria-hidden="true ">
                                    <div class="modal-dialog " role="document ">
                                        <div class="modal-content ">
                                            <div class="modal-header ">
                                                <h5 class="modal-title " id="exampleModalLabel ">Adresse finden</h5>
                                                <button type="button " class="close " data-dismiss="modal
                                        " aria-label="Close ">
                                                    <span aria-hidden="true ">X</span>
                                                </button>
                                            </div>
                                            <div class="modal-body ">
                                                Adresse alt:
                                                <input type="text " class="form-control " name="Strasse " value="Strasse
                                        der SA " />
                                                <input type="text " class="form-control " name="Stadt " value="Königsberg " />
                                                Adresse neu:
    
                                                <input type="text " class="form-control " name="Strasse " value="Blumenwiese
                                        3 " />
                                                <input type="text " class="form-control " name="Stadt " value="Frankfurt " />
                                            </div>
                                            <div class="modal-footer ">
                                                <button type="button " class="btn btn-secondary " data-dismiss="modal ">Close</button>
                                                <button type="button " class="btn btn-primary ">Adressen verbinden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                        </div>
                    </div>
                </div>
            </div>


            <div id="uploadArea" class="tab row">
                <div>
                    <!-- col -->
                    <div class="col-lg-7 col-md-12">
                        <h1>File-Upload Postkarte</h1>
                        <div class="card">
                            <!-- table responsive -->
                            <div class="table-responsive">
                                <div class="image-upload btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <input type="file" id="files" onchange="fileChooser()" required="true" />
                                </div>
                                <ol id="fileNames">
                                </ol>

                                <button type="button" class="btn btn-danger" onclick="resetImageFiles()">
                                    <span class="glyphicon glyphicon-plus" style="transform: rotate(45deg)"></span>
                                </button>
                            </div>
                            <!-- table responsive -->
                        </div>

                    </div>
                    <!-- col -->

                    <!-- col -->
                    <div class="col-lg-5 col-md-12">
                        <h1>Erklärung</h1>
                        <div>
                            Bitte laden Sie in diesem Bereich alle Scans oder Fotos Ihrer Postkarte in der richtigen Reihenfolge hoch.
                        </div>
                    </div>
                    <!-- col -->
                </div>
            </div>

            <div class="tab row">
                <div>
                    <div class="col-lg-7 col-md-12">
                        <h1>Übersicht</h1>
                        <div class="card">
                            <div id="metaStep" class="table-responsive previews">
                                <div class="review-info">Hier sehen Sie die zuvor hochgeladenen Scans/Fotos Ihrer Postkarte. Bitte prüfen Sie, ob alle erwähnten Personen und Orte rechts aufgeführt sind und tragen Sie fehlende Daten nach.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12" id="metaInfosEditor">
                    </div>
                </div>
            </div>

            <div style="overflow: auto;">
                <div style="float: right;">
                    <button class="btn btn-default" type="button" id="prevBtn" onclick="nextPrev(-1)">Zurück</button>
                    <button class="btn btn-default" type="button" id="nextBtn" onclick="nextPrev(1)">Weiter</button>
                </div>
            </div>

        </form>

        <!-- Steps form -->
    </div>

</div>