.place-widget {
    margin-bottom: 5px;
}

.place-widget input {
    float: left;
}

.place-widget input.short-place-input {
    width: calc(100% - 39px);
}

#placeModal .modal-body {
    max-height: 60vh;
    overflow: auto;
    padding: 0;
    width: 100%;
    top: -3px;
    font-size: 14px;
}

#placeModal .modal-footer {
    border-top: none;
    margin-top: 0;
}

#placeModal .loading-spinner-container {
    height: 46px;
}

#placeModal .loading-spinner-container .fa-spinner {
    position: absolute;
    top: 17px;
    left: calc(50% - 21px);
}

#placeList {
    padding: 0;
}

#placeList .place-list-entry {
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 15px;
}

#placeList .place-list-entry:hover {
    background-color: #efefef;
}

#placeList .no-places-found-info {
    position: relative;
    top: 21px;
    left: 16px;
    font-style: italic;
}

#placeSuggestionContainer {
    width: calc(100% - 30px);
    position: absolute;
    margin-top: 34px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 14px;
    z-index: 2;
}

#placeSuggestionContainer .suggestion {
    padding: 5px;
    border-bottom: 1px solid #e5e5e5
}

#placeSuggestionContainer .suggestion:hover {
    background-color: #efefef;
    cursor: pointer;
    user-select: none;
}

.place-modal-link {
    font-style: italic;
}

.remove-place-button {
    width: 34px;
    padding-left: 9px;
    margin-left: 5px;
}

.remove-place-button span {
    right: 0 !important;
}