h1 {
    font-family: Avenir;
    font-size: 21pt;
}

.vis-item {
    display: inline-block !important;
    font-size: 14px;
}

.vis-item.letter,
.vis-item.letter.selected {
    background-color: #d5ddf6 !important;
    border-color: #97b0f8 !important;
    cursor: pointer;
}

.vis-item.postcard,
.vis-item.postcard.selected {
    background-color: #e3f6d5 !important;
    border-color: #89c179 !important;
    cursor: pointer;
}

.vis-item.event,
.vis-item.event.selected {
    background-color: #f0f0f0 !important;
    border-color: #e1e1e1 !important;
}

#timeline-container {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 270px);
}

#timeline-options {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 5px 18px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 14px;
    z-index: 2;
    user-select: none;
    visibility: hidden;
}

#timeline-options.show {
    visibility: visible;
}
