<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/default.html" data-template-at="body">
    <link type="text/css" media="all" href="timeline.css" rel="stylesheet"/>
    <link type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"
          rel="stylesheet"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"/>

    <div class="title-banner">
        <div class="container">
            <div class="main-title"><h1>Zeitleiste</h1><hr/></div>
        </div>
    </div>

    <div id="timeline-container">
        <div id="timeline-options">
            <div class="checkbox">
                <label>
                    <input id="letterCheckbox" type="checkbox" value="letter" checked="checked" />
                    Briefe
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="postcardCheckbox" type="checkbox" value="postcard" checked="checked" />
                    Postkarten
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="eventCheckbox" type="checkbox" value="event" checked="checked" />
                    Historische Ereignisse
                </label>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="timeline.js"/>
    <script type="text/javascript" src="timelineEvents.js"/>

</div>
